@charset "utf-8";
/* CGV PJ 인트로 페이지 CSS - intro.css */

/* 외부CSS합치기 */
@import url(reset.css);
@import url(core.css);

/* 전체 높이값 채우기 */
html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 비디오요소 */
#myvid{
    width: 100%;
    height: 100%;
    /* width, height 100% 채우기 속성 셋팅 후... */
    object-fit: cover;
    /* 
        [ object-fit 속성 ]
        -> img, video 요소에 사용하는 맞춤속성

        - 부모요소의 크기에 채우는 방식을 결정함
        - contain이 기본값
        - 특히 이미지일 경우 배경이미지로 넣어야
        빈공간 없이 비율유지하며 채울 수 있다고 생각하는데
        이 속성을 사용하면 마치 배경처럼 이미지를 채울 수 있다!

        1. cover : 이미지나 동영상 비율을 유지하며
                    부모박스를 빈공간없이 채운다!
                    (잘리는부분 있음)
        2. fill : 이미지나 동영상 비율을 깨고 모두 보이게
                    부모박스를 빈공간없이 채운다!
                    (잘리는부분 없음)
        3. contain : 이미지나 동영상이 모두 보이며 비율유지함
                    (잘리는 부분이 없으나 빈 공간이 생길 수 있음)
    */

    filter: brightness(50%);
    /* 비디오 밝기를 어둡게 조정하여 
    입장버튼이 잘보이게함! */
}

/* 들어가기 버튼박스 */
#enter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 트랜스폼 정중앙 이동하기 */

    /* outline: 4px dotted lime; */
}

/* Click Here! 글자박스 */
#enter span{
    display: block;
    /* 옆에 아무도 못오고 width끝까지 감 */
    text-align: center;
    /* 글자중앙 */

    font: bold 34px/1.8 'Audiowide';
    /* font: 스두크/줄체 */

    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out .2s;
}
/* 엔터박스 마우스 오버시 글자박스 변경 */
#enter:hover span{
    transform: scale(2);
    color: chartreuse;
}

/* 엔터박스 로고 이미지 */
#enter img{
    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out;
}
/* 엔터박스 오버시 로고 이미지 */
#enter:hover img{
    transform: rotate(-15deg) scale(1.5);
}