@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부CSS합치기 */
@import url(reset.css);
@import url(core.css);

body{
    background-color: #000;
}

/* 공사중표시 */
/* body *{
    outline: 2px dotted lime;
} */

/* 레이아웃 공통 class */
.part{
    max-width: 1200px;
    /* 최대 1200px, 이하일땐 auto */
    margin: 0 auto;
    /* 마영오! - 가로중앙 */
}

/******************* 1. 상단영역 *******************/
#top{
    position: relative;
    /* z-index적용위해 relative줌 + 부모자격 */
    z-index: 999;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1. 페이지 타이틀 */
h1.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    line-height: 80px;

    /* 그림자를 이용한 Glow효과 */
    text-shadow: 0 0 4px aquamarine;

    /* 애니메이션: 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;

}
/* 타이틀 글루우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
} /* 키프레임 */

/* 1-2. 전체메뉴(GNb) */
.gnb{
    position: absolute;
    bottom: 10px;
    right: 15px;
    /* 부모는? #top */
}
/* GNB ul */
.glist{
    display: flex;
    /* 플렉스박스 */
}
/* GNB li 리스트 */
.glist>li{
    padding: 0 10px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}
/* GNB 서브메뉴 */
.smenu{
    position: absolute;
    width: 140px;
    background: 
    url(../images/bg_smenu.png) no-repeat center/cover;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
}

/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
}
/* 서브메뉴 li */
.smenu li{
    font-size: 16px;
    line-height: 2;
}

/******************* 2. 메인영역 *******************/
#cont{
    position: relative;
    /* 부모자격 */
    height: 788px;
    background: url(../images/bg.jpg) no-repeat;
}
/* 2-1. 스크린 박스 */
#screen{
    position: absolute;
    top: 136px;
    left: 257px;
    /* 부모는? #cont */
    width: 701px;
    height: 398px;
    background-color: #000;
}
/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none;
    /* 아이프레임 기본보더 없앰! */
}
/* 2-2. 예고편 선택메뉴 */
.mlist{
    position: absolute;
    bottom: 58px;
    left: 50%;
    /* 부모는? #cont */
    transform: translateX(-50%);
    /* x축 중앙이동 -> 정중앙 */

    overflow: hidden;
    /* 영화설명 숨기기 
    - 부모자격이 있는 요소가 숨길수 있음! */
}
/* ul 플렉스박스 */
.mlist ul{
    display: flex;
}
/* 각 리스트 */
.mlist ul>li{
    margin: 0 9px;
}

.mlist img{
    width: 99px;
    height: 140px;
}

/* 영화정보박스 */
.movtxt{
    position: absolute;
    top: 100%;/* 부모의 높이값 만큼 */
    /* 부모는? .mlist */
    width: 99px;
    height: 140px;

    background-color: rgba(0, 0, 0, 0.7);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 2;
    text-align: center;

    /* 트랜지션: 속시이지 */
    transition: top .4s ease-out;
}
/* 부모li에 마우스 오버시 설명박스 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}

/* 첫번째 li 영화제목 */
.movtxt li:first-child{
    color: aqua;
    font-size: 17px;
    letter-spacing: -1px;
    margin-top: 30%;
}


/******************* 3. 하단영역 *******************/
#info{
    height: 100px;
}
