@charset "utf-8";
/* 보그 PJ 공통모듈 CSS - common.css */


 /*************** 1. 상단영역 ***************/
 .top{
    min-height: 206px;
}
/* 1-1. 상단메뉴 */
.tmenu{
   display: flex;
   /* 플렉스박스 */
   max-width: 970px;
   height: 45px;
   margin: 0 auto;
}
/* 플렉스 박스 직계 자식div */
.tmenu>div{
   flex: 1;
   /* 옆으로 흐르는 등분할 박스 */
   /* 높이값 100%도 자동! */
}

/* 1-1-1. sns박스 */
.sns a{
   width: 16px;
   height: 16px;
   /* .fi 설정에 inline-block되어 있음(크기적용됨!) */
   font-size: 16px;
   text-align: center;
   vertical-align: top;
   line-height: 16px;

   /* 위치조정 */
   margin-top: 14px;
   margin-right: 17px;

   /* 트랜지션: 속시이지 */
   transition: opacity .2s;
}
/* a요소 오버시 */
.sns a:hover{
   opacity: 0.8;
}

/* 트위터 아이콘 조정 */
.sns a.fi-twitter{
   font-size: 13px;
}
/* 유튜브 아이콘 조정 */
.sns a.fi-youtube-play{
   font-size: 11px;
}
/* 유튜브 가상요소 크기조정!(x축만) */
.sns a.fi-youtube-play::before{ 
   transform: scaleY(1.2);
   display: inline-block;
   /* inline은 트랜스폼이 적용안됨! */
}
/* sns 마지막 a요소에 카스이미지 배경이미지로 넣기! */
.sns a:last-child{
   background: url(../images/sns_kakao.png) no-repeat center/auto 100%;
}

/* 1-1-2. 사이드메뉴 */
.smbx{
   display: flex;
   justify-content: flex-end;
   /* 플렉스박스 수평방향 오른쪽 정렬 */

   /* 글자셋팅 */
   font-family: 'Roboto', nbg, sans-serif;
   font-size: 12px;
}
/* 메뉴 사이 구분선 넣기 */
.smbx>li:first-child{
   border-right: 1px solid #e5e5e5;
}
/* 사이드 메뉴 상위 a요소 */
.smbx>li>a{
   display: block;
   padding: 0 13px;
   line-height: 44px;
   color: #747474;
}
/* 첫번째 사이드 메뉴 마우스 오버시 커서모양 변경 */
.smbx>li:first-child>a{
   cursor: auto;
   /* 자동은 글자는 I모양, 일반은 화살표로 나옴! */
   /* 참고) CSS커서모양종류
   https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor */
}
/* 사이드 메뉴 서브박스 */
.smsub{
   position: absolute;
   margin-left: -1px;
   /* 젠틀앱솔루트 상태에서 위치이동은 마진으로! */
   border: 1px solid #e5e5e5;

   /* 숨기기 */
   opacity: 0;
   height: 0;
   overflow: hidden;
   /* 높이값 0에 넘치는 요소 숨기기! */
}
/* 상위메뉴 li에 오버시 하위메뉴 보이기 */
.smbx>li:hover .smsub{
   opacity: 1;
   height: auto;
   /* 원래 height값 복원! */

   /* 트랜지션 -> 오버시에만 주면 오버시에만 적용됨! */
   transition: opacity .4s ease-in-out;
}
/* 서브메뉴 a요소 */
.smsub a{
   display: block;
   padding: 7px 10px;
   padding-right: 20px;
   color: #747474;

   /* 트랜지션 */
   transition: .2s ease-in-out;
}
/* 서브메뉴 a요소에 마우스 오버시 */
.smsub a:hover{
   background-color: #fafafa;
   color: #333;
}


/* 1-2. 로고박스 */
.logo{
   text-align: center;
   margin-bottom: 11px;
}

/* 1-3. GNB박스 */
.gnb{
   /* 글자설정 */
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 16px;
   line-height: 40px;
   padding: 0 30px;
}
.gnb>ul{
   display: flex;
   /* 플렉스박스 */
   justify-content: center;
   flex-wrap: wrap;
   /* 자동줄바꿈! */
}
/* 리스트요소 */
.gnb li{
   padding-right: 45px;
}
/* 마지막 li는 패딩없음 */
.gnb li:last-child{
   padding-right: 0;
}
/* 마지막 li의 a 돋보기 */
.gnb li:last-child a{
   font-weight: bold;
   padding-top: 12px;
}
/* GNB 링크 트랜지션 */
.gnb a{
   transition: color .2s linear;
}
/* 오버시 a요소 */
.gnb a:hover{
   color: red;
}

/* 슬림상단 영역 디자인 클래스 */
/* 상단영역 최상위부모 */
#top.on{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #fff;
   z-index: 9999;
}
/* 상단영역 중앙속박스 */
#top.on .top{
   min-height: auto;
   /* 최소높이 없앰 */
}
/* 상단메뉴 없애기 */
#top.on .tmenu {
   display: none;
}
/* 로고 박스 변경 */
#top.on .logo{
   position: absolute;
   top: 10px;
   left: 10px;
}
/* 로고 이미지 */
#top.on .logo img{
   width: 100px;
}
/* GNB */
#top.on .gnb{
   font-size: 14px;
}
/* GNB a요소 */
#top.on .gnb a{
   color: #333;
}
#top.on{

}

/*************** 3. 하단영역 ***************/
.info{
   min-height: 285px;
   background-color: #000;
   padding: 70px;
   box-sizing: border-box;
   /* 보더,패딩 포함 크기유지! */
   font-family: 'Roboto', nbg;
}
/* 3-1.하단로고 */
.blogo{
   text-align: center;
}
/* 3-2. 회사주소 */
.addr{
   color: #747474;
   text-align: center;
   font-size: 11px;
   font-style: normal;
   /* 이탤릭해제 */
   margin: 20px 0 10px;
   /* 마진: 위 양쪽 아래 */
}
/* 3-2. 하단링크 */
.blink{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* 자동줄바꿈 */
}
.blink a{
   color: #747474;
   font-size: 13px;
   margin: 0 6px;
}
/* 마지막 li만 글자 두껍게 */
.blink li:last-child a{
   font-weight: bold;
}
