@charset "utf-8";
/* 보그 PJ 메인 페이지 CSS - main.css */

/* 외부파일 합치기 */
 @import url(reset.css);
 @import url(core.css);
 @import url(common.css);

 /* 박스표시 */
 body *{
     outline: 1px dashed gray;
 }

 /**************** 2. 메인영역 ****************/
 
 /* 개별 배경이미지 */
 .bg1{
     background-image: url(../images/cont1a.jpg);
 }
 .bg2{
     background-image: url(../images/cont2-1.jpg);
 }
 .bg3{
     background-image: url(../images/cont2-2.jpeg);
 }
 .bg4{
     background-image: url(../images/cont2-3.jpg);
 }