@charset "utf-8";
/* 외부CSS파일은 반드시 상단 맨위에
문자셋 인코딩 셋팅을 해야함! 
@charset "utf-8" 은 2byte문자까지
문제없이 인코딩해주는 형식이다! */

/* 공통클래스 */
/* box center의 의미로 이름지음! 자기맘! */
.bxc {
    width: 727px;
    /* 가로크기 */
    margin: 0 auto;
    /* 마영오! 블록박스 중앙! */
    padding: 10px;
    /* 패딩 */
    box-sizing: border-box;
    /* 크기유지 */
    text-align: center;
    /* 내부컨텐츠 인라인 중앙 */
}

/* 다중클래스 적용연습 */

/* 글자색,글자그림자 클래스 */
.fc {
    color: skyblue;
    text-shadow: 1px 1px 1px #000;
}

/* 밑줄 */
.fu {
    text-decoration: underline;
    /* 밑줄 */
    text-decoration-style: dotted;
    /* 데코레이션 선 스타일 - 점선 */
}

/* 1. 상단영역 */
header {
    /* 블록박스 셋팅 */
    width: 727px;
    /* height: 200px; */
    border: 1px solid silver;
    padding: 10px;
    margin: 20px auto;

    /* 블록박스 중앙정렬!
        margin: 0 auto;
        마영오! 씨

        margin: 값; (4방향)
        margin: 값 값; (위아래 양쪽)
        margin: 값 값 값; (위 양쪽 아래)
        margin: 값 값 값 값; (위 오른 아래 왼) -> 시계방향

        -> padding도 위와 같음!

        개별설정은
        margin-top, margin-bottom
        margin-left, margin-right

        -> padding도 위와 같음!


    */
    /* 
        width나 height크기를 안주면
        기본값 auto다!
        블록박스인 경우 width는 부모끝까지
        차지하고 height는 내용만큼 늘어남!
    */

    /* 내부의 텍스트/인라인요소 중앙정렬 */
    text-align: center;

    /* 배경색 주기 */
    background-color: #b4eafa;

    /* 보더, 패딩 사이즈 내부에 포함시키기 */
    box-sizing: border-box;
    /* 젠 bxb */
    /* 원래는 보더와 패딩만큼 커지는게 기본
        속성이지만 이것을 내부에 포함시키는
        속성은 위와 같다! 
        기본값은 content-box */
}

/* 띄어쓰기는 자손선택자! */
/* 아이디가 top인 요소의 자손 중 h1선택 */
#top h1 {
    /* 글자색 */
    color: hotpink;
    /* 글자그림자 */
    text-shadow: 2px 2px 2px #555;
}

/* 메뉴 */
.gnb a {
    color: #ff01f2;
    /* 밑줄없앰 */
    text-decoration: none;
    /* 젠tdn */
    /* 
        text-decoration 속성
        - underline 밑줄
        - overline 윗줄
        - linethrough 중간줄
        - none 없음
    */
    /* 글자 두껍게 */
    font-weight: bold;
    /* 젠fwb */
    /* 
        font-weight 속성
        - bold 두껍게
        - bolder 더두껍게
        - lighter 얇게
        - 100~900
        (기본적으로 글자체가 지원해야됨!)
    */
}

/* 메뉴 a에 마우스 오버시 */
/* 선택자:hover -> 마우스 오버시 가상클래스 */
.gnb>a:hover {
    text-decoration: overline;
    /* 밋tdo */
}


/* 로고이미지 */
/* nav태그인데 클래스가 gnb인 요소 아래 자손중 img요소 선택 */
nav.gnb img {
    /* 인라인요소가 세로정렬 */
    vertical-align: -5px;
    /* 젠va */
    /* 
        값은 수치로 줄 수 있고
        top, middle, bottom, baseline 등 있음
    */
    border: none;/* 보더없앰 */
    /* 이미지에 링크가 걸린경우 파란색 테두리가
    서버에 올린후 보일 수 있다! */
}

/* 하단 주소 */
footer#info address {
    background-color: #ccc;
    padding: 20px;
    font-style: normal;
    /* 글자 스타일 
                - italic 이탤릭체
                - normal 특징없음 */
    color: #444;
    font-size: 14px;
    /* 글자크기
                - 기본크기는 16px
                12pt=16px (이육사) */
    line-height: 1.6;
    /* 줄간격
    - 단위없이 사용하면 글자크기배수
    - px, em 등 여러가지 단위사용가능 */
}

/* 영문이름만 이탤릭체 */
#info span {
    font-style: italic;
}