@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 클래스 불러오기 */
/* import로 파일 합치기 
    외부CSS파일에서 다른 외부CSS를
    import방식으로 불러올때의 장점은?
    html파일에서 link요소로 호출할 경우
    http request(웹요청)이 많아져서
    페이지 랜더링 속도가 더뎌진다!
    따라서 이방식을 쓰면 한번에 여러 CSS를
    불러올 수 있어서 속도에 유리하다!
*/
/* @import url(파일주소); */
@import url(style.css);

/* 메인 전체박스 */
#cont{
    text-align: left;
    /* .bxc에서 중앙정렬값 덮어쓰기! 왼쪽정렬로! */
}
/* 기사제목 */
.atit{
    font-size: 30px;
    /* 글자크기 */
    font-weight: normal;
    /* 글자두께: 보통 */
    font-family: "굴림","궁서","맑은 고딕",serif;
    /* 글씨체: 순서대로 적용됨 */
    letter-spacing: -2px;
    /* 자간: 0을 기준으로 조정 */
    word-spacing: 3px;
    /* 단어간격: 0을 기준으로 조정 */
    white-space: nowrap;
    /* 줄바꿈 방지 */
}
/* 이미지박스 */
.afig{
    margin: 15px 0;/* 위아래 양쪽 */
    /* figure요소의 기본마진변경! */
}
/* 기사이미지 */
.afig img {
    width: 100%;
    /* 부모박스를 채움 */
    /* 이미지는 가로,세로중 하나만
    크기를 주면 나머지는 자동으로 
    비율유지를 한다! */
}
/* 기사설명박스 */
.afig figcaption{
    text-align: center;
    /* 글자정렬 중앙 
    -> 주의사항- 글자정렬은 블록박스에서
    적용해야 내부의 인라인요소의 정렬이
    변경된다!(인라인에서하면 적용안됨!)*/
    padding-bottom: 50px;
}
/* 기사설명글 */
.afig small{
    font-family: gulim;
    /* 글자체 */
    color: #666;
    /* 글자색 */
}
/* 기사내용박스 */
.arti{
    font-family: "굴림",gulim,sans-serif;
    /* 글자체 */
    font-size: 17px;
    /* 글자크기 */
    line-height: 1.6;
    /* 줄간격 (숫자만쓰면 배수) */
}

/* 기타 타이틀 h3 */
#cont h3{
    font-family: gulim;
    font-size: 14px;
}
/* 인용구박스 */
.quote{
    background-color: #ececec;
    /* 배경색 */
    padding: 10px;
    /* 패딩 */
}
.quote h3{
    text-align: center;
}
.quote blockquote{
    font-size: 12px;
    /* 글자크기 */
    text-indent: 15px;
    /* 첫줄 들여쓰기(마이너스는 내어쓰기) */
    text-align: justify;
    /* 글자정렬: 양쪽정렬 */
}

/* article 박스 마다 상단 보더 
구분선 넣기 */
#cont article{
    border-top: 1px solid #ccc;
    /* 보더위쪽 : 두께 종류 색상(두종색) */
    margin-top: 25px;
    /* 위쪽마진 */
}

/* 메인 컨텐츠 아래 a요소 
주의사항- 글자색,밑줄 셋팅 필수! */
#cont a{
    color: #222;
    /* 글자색 */
    text-decoration: none;
    /* 밑줄없앰 */

    font-size: 14px;
    /* 글자크기 */
    font-family: gulim;
    /* 글자체 */
}
/* 마우스 오버시 */
#cont a:hover{
    /* color: red; */
    text-decoration: underline;
}

/* 오늘의 작품 */
.twrok{
    text-align: center;
    background-color: lightyellow;
    background-clip: content-box;
    /* background-clip 배경색 옵션
        1. content-box 
        -> 컨텐트영역에만 배경색넣기
        (보더, 패딩빠짐)
        2. padding-box
        -> 패딩영역까지만 배경색넣기
        (보더 빠짐)
        3. border-box
        -> 보더영역까지 배경색넣기(기본값)
    
    */
    padding: 15px;
}
