@charset "utf-8";
/* 도깨비 메인페이지 CSS - main.css */

/* 기본태그 초기화 - 마진,패딩 없애기 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd{
    margin: 0;
    padding: 0;
}
/* 헤딩태그 글자크기 초기화 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    /* 글자크기 100%는 기본글자크기와 같아지는 셋팅
    기본글자크기는 16px */
}