@charset "utf-8";
/* 도깨비 PJ 메인페이지 미디어쿼리 - media.css */

/******** 1024px 이하 미디어쿼리 ********/
@media screen and (max-width:1024px) {
    html {
        font-size: 8px;
    }

    /* 메뉴 글자 크기에 따른 gnb 가로크기변경 */
    .gnb {
        width: 491px;
    }

}

/* 1024px 이하 */

/******** 800px 이하 미디어쿼리 ********/
@media screen and (max-width:800px) {

    /* 1. 숨기기 
    - GNB메뉴, 문구이미지, 하단링크, 
    서브메뉴, 메뉴배경가상요소 */
    /* .gnb, */
    #dtxt,
    .blink,
    .smenu,
    .gnb>ul>li.sm::after {
        display: none;
    }

    /* 2. 보이기 - 햄버거버튼 */
    .ham {
        display: block;
    }

    /* 3. 높이값 자동 : 상단영역, 하단영역 */
    .top,
    .info {
        height: auto;
    }

    /* 3.5. GNB 디자인변경하기 */
    .gnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    /* 4. 캐릭터 박스 레이아웃 변경 */
    .cat {
        width: 99%;
        /* 한줄에 하나의 캐릭터박스 옴 */
        margin-bottom: 3vh;
        /* 하단마진 뷰포트 단위로 지정! */
    }

    /* 5. 메인 컨텐츠 박스 : 높이값 해제 */
    .cont {
        height: auto;
        padding-bottom: 0;
    }

    /* 6. 캐릭터 부모박스 마진조정 */
    #cbx {
        margin-top: 100px;
    }

    /* 7. 캐릭터 박스 마우스 오버시 이미지박스 올라오기 초기화 */
    .cat:hover .ci {
        margin-top: 0;
    }

    /* 8. 타이틀글자 */
    .cd h3 {
        font-size: 7vw;
        padding: 2vw 4vw 0;
    }

    /* 9. 내용글자 */
    .cd p {
        font-size: 4vw;
        padding: 5vw;
    }

    /* 10. 캐릭터박스 오버시 글자박스 높이값 */
    .cat:hover .cd {
        height: 50vh;
    }

}

/* 800px 이하 */