@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중 아웃라인 */
body *{
    outline: 2px dashed lime;
}

/* 로봇머리 */
#head{
    position: relative;
    /* 부모자격! */
    width: 250px;
    height: 250px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px 50px 0 0;
}
/* 눈1 */
#eye1{
    position: absolute;
    top: 50px;
    left: 50px;
    /* 부모는? #head */

    width: 50px;
    height: 50px;
    background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
/* 눈2 */
#eye2{
    position: absolute;
    top: 50px;
    right: 50px;
    /* 부모는? #head */

    width: 50px;
    height: 50px;
    background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}
/* 코 */
#nose{
    position: absolute;
    top: 103px;
    right: 104px;
    /* 부모는? #head */
    
    width: 43px;
    height: 65px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
}
/* 입 */
#mouth{
    position: absolute;
    bottom: 29px;
    left: 77px;
    /* 부모는? #head */
    
    width: 96px;
    height: 42px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}
/* 귀1 */
#ear1{
    position: absolute;
    top: 69px;
    left: -48px;
    /* 부모는? #head */
    
    width: 48px;
    height: 94px;
    border-radius: 15px 0 0 15px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}
/* 귀2 */
#ear2{
    position: absolute;
    top: 69px;
    right: -48px;
    /* 부모는? #head */
    
    width: 48px;
    height: 94px;
    border-radius: 0 15px 15px 0;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 로봇몸 */
#body{
    position: relative;
    /* 부모자격! */
    width: 250px;
    height: 300px;
    margin: 0 auto;/* 마영오! */
    margin-top: 50px;
    margin-bottom: 300px;
    /* 아래쪽 다리만큼 여유공간주기 */

    background: url(../images/metal01.jpg) no-repeat center/cover;
}

/* 목 */
#neck{
    position: absolute;
    top: -50px;
    left: 91px;
    /* 부모는? #body */

    width: 69px;
    height: 50px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 팔다리 공통 */
.part{
    position: absolute;
    width: 50px;
    height: 250px;
    background: url(../images/metal02.jpg) repeat-y 0/100%;
}
/* 왼팔 */
#arm1{
    top: 0px;
    left: -53px;
}
/* 오른팔 */
#arm2{
    top: 0px;
    right: -53px;
}
/* 왼다리 */
#leg1{
    top: 100%;
    left: 0x;
}
/* 오른다리 */
#leg2{
    top: 100%;
    right: 0;
}

/* TV */
#tv{
    position: absolute;
    /* 부모자격 - #screen */
    top: 49px;
    left: 24px;
    /* 부모는? #body */

    width: 200px;
    height: 150px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
}
/* 스크린 */
#screen{
    position: absolute;
    /* 부모자격 - #screen iframe */
    top: 18px;
    left: 12px;
    /* 부모는? #tv */
    
    width: 137px;
    height: 102px;
    background-color: #000;
    border-radius: 20px;

    overflow: hidden;
    /* 넘치는 자식요소 숨기기! */
}

/* 유튜브 아이프레임 */
#screen iframe{
    position: absolute;
    top: -17px;
    left: -51px;
    /* 부모는? #screen */
    
    width: 180%;
    height: 138%;

    border: none;
    /* 아이프레임 기본보더 없앰! */
}

/* 로봇 설명박스 */
#dcbx {
    width: 800px;
    margin: 0 auto;/* 마영오! */
    margin-bottom: 200px;/* 하단공간 */
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 15px 30px;
    /* 패딩: 위아래 양쪽 */
    background-color: rgba(0, 0, 0, 0.5);

    color: #fff;
    text-shadow: 1px 1px 1px #000;
    /* 글자그림자: x y 블러 색 */
    box-shadow: 
    inset 0 0 20px blue,
    inset 0 0 50px 20px cyan;
    /* 박스그림자: (내부) x y 블러 (크기) 색
    -> 그림자색을 형광계열로 주면 glow효과를 줄 수 있다!
    -> 글자그림자와 달리 그림자 크기(spread)를 줄 수 있다!
    이것으로 더 강한 효과를 줄 수 있음(0은 기본값)
    -> 글자그림자나 박스그림자 모두 여러개를 콤마로 셋팅가능! */
}
/* 로봇설명 제목 */
#dcbx h2{
    font-size: 35px;
    text-align: center;
    color: lime;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}
/* 로봇 출처 */
#dcbx small{
    display: block;
    text-align: center;
    color: #ff0;

}
/* 설명문단 */
#dcbx p{
    font-size: 15px;
    /* 기본글자는 16px */
    line-height: 1.8;
    /* 줄간격: 배수/단위 등 */
    letter-spacing: 1px;
    /* 자간 */
    word-spacing: 2px;
    /* 단어간격 */

}
